server:
  port: 5000

springdoc:
  swagger-ui:
    path: /api/swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: mappings
    jmx:
      exposure:
        include: health,info,mappings

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/tax_api?autoReconnect=true&useSSL=false
    username: root
    password: pass
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate.ddl-auto: update
    generate-ddl: true
    show-sql: true
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl